{% extends "proyectowebapp/base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <br>
  <div style="float: right;">
    {% if request.user.is_authenticated %}
    {% include "carro/widget.html" %}
    {% else %}
    <div class="alert alert-danger text-center">
      Login para ver el carro
    </div>
    {% endif %}
  </div>
  <!-- <div class="row"> -->
  <div class="row justify-content-left">
    {% for producto in productos %}
    <div class="col-md-3"> <!-- Modificado: Cambiado a col-md-4 -->
      <div class="card" style="width: 100%; margin: 5px 5px;">
        <img src="{{ producto.imagen.url }}" alt="" class="card-img-top">
        <div class="card-body text-center">
          <h7 class="card-title">
            {{ producto.nombre }}
          </h7>
          <p class="card-text">
            {{ producto.precio }} $
          </p>
        </div>
        <div class="card-footer text-center">
          {% if request.user.is_authenticated %}
          <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar</a>
          {% else %}
          <a href="{% url 'logear' %}" class="btn btn-success">Agregar</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div><br>
</div>
{% endblock %}