{% extends "proyectowebapp/base.html" %}
{% load static %}
{% block content %}
<!-- Message -->
<section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Fecha de ultima actualizacion: 31/07/2023</span>
              <span class="section-heading-lower">Aviso Legal</span>
            </h2>
            <p class="mb-0">
                Este aviso legal rige el uso del sitio web GESTION DE PEDIDOS, al acceder y utilizar 
                nuestro sitio web, estás aceptando los términos y condiciones establecidos en este aviso legal.
                El uso de este sitio web está destinado únicamente para fines educativos, ofrezco mi mas sincero agradecimiento
                al canal de youtube Pildoras Informaticas de Juan Diaz por enseñarme a crear este proyecto web.
                No está permitido utilizar el sitio de manera que pueda causar daño, interrupción o perjuicio a 
                nuestro sitio web o a terceros.Nos reservamos el derecho de realizar cambios y actualizaciones en 
                este sitio web, incluyendo este aviso legal, en cualquier momento y sin previo aviso. Te recomendamos 
                revisar esta página periódicamente para mantenerse informado sobre cualquier cambio.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}